body, html {
  background-color: rgb(112, 101, 255);
}

@font-face {
  font-family: SegoeIcons;
  src:url("Assets/Segoe Fluent Icons.ttf");
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20%;
}

#textarea {
  resize: none;
  background: transparent;
  border: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
  color: white;
  font-size: 24pt;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  outline: none;
}

#prompt {
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 50px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20pt;
  font-family: SegoeIcons;
  outline: none;
}

#prompt:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(112, 101, 255);
  transition-duration: 0.25s;
}

@media screen and (max-width:600px) {
  #textarea {
    width: 300px;
    height: 250px;
    font-size: 20pt;
    overflow: hidden;
  }
}